# pysounds requirements

# development utilities and general tools
black==24.4.2
Pint==0.14
isort==5.0.2
mypy==1.10.0
jupyterlab
pyperclip
pytest==8.2.2
PyAudio==0.2.14
pypiwin32
pywin32-ctypes==0.2.2



# Specific requirements
Cython>3.0

nidaqmx==0.9.0
matplotlib>=3.9.0
nose==1.3.7
numpy>=1.26.4
psutil==5.9.8
pyparsing==3.1.2
resampy==0.4.3
scipy==1.13.1
# pyaudio  # sometimes this will have to be done manually
# get pyaudio win-amd64.whl file from https://www.lfd.uci.edu/~gohlke/pythonlibs/
# make a downloads file in pysounds, and put it in the downloads directory
# 

pyqt6>=6.2
pyqt6-sip
pyqtgraph>=0.13
tdt
toml>=0.10.0
